.start-button {
    padding: 1em 5em;
    border-radius: 3px;
    background-color: var(--white);
    box-shadow:  0 0 8px var(--shadow-black);
    cursor: pointer;
    transition: all 100ms;
    z-index: 1;
}

.start-button:active {
    box-shadow: none;
    transform: translateY(4px);
}