.start-button {
    padding: 1em 5em;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(50, 50, 50, 0.4);
    cursor: pointer;
    transition: all 100ms;
    z-index: 1;
}

.start-button:active {
    box-shadow: none;
    transform: translateY(4px);
}