/* Стили для окна в целом */

.frame {
    display: flex;
    flex-direction: column;
    box-shadow:  0 0 8px rgba(50, 50, 50, 0.4);
    overflow: hidden;
    z-index: 2;
}

.frame_hidden {
    display: none;
}

.frame_normal {
    border-radius: 10px;
    width: 95vw;
    height: 90vh;
}

@media (min-width: 769px) and (max-width: 1023px) {
    .frame_normal {
        width: 75vw;
        height: 85vh;
        max-width: 1024px;
        max-height: 768px;
    }
}

@media (min-width: 1024px) {
    .frame_normal {
        width: 55vw;
        height: 80vh;
        max-width: 1024px;
        max-height: 768px;
    }
}

.frame__full_screen {
    width: 100%;
    height: 100%;
}

.frame_turn {
    position: absolute;
    left: 2em;
    bottom: 2em;
    width: 10em;
    height: 2.5em;
    border-radius: 10px;
}

/* Стили для заголовка окна и кнопок на нем */

.frame__title {
    height: 2.5em;
    background-color: var(--gray-light);
    display: flex;
    align-items: center;
    padding: 5px 2em;
}

.frame__control_button {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    transition: all 100ms;
}

.frame__control_button:active {
    transform: scale(0.9);
}

.frame__control_button + .frame__control_button {
    margin-left: 0.5em;
}

.frame__control_button_red {
    background-color: var(--red);
}

.frame__control_button_yellow {
    background-color: var(--yellow);
}

.frame__control_button_green {
    background-color: var(--green);
}

/* Стили для содержимого окна */

.frame__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Стили для заголовка */

.frame__header {
    height: 40%;
    background-color: var(--gray);
    padding: 2em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame__header_big_caption, .frame__header_small_caption {
    background-color: var(--gray-dark);
    height: 1.5em;
    border-radius: 3px;
}

.frame__header_big_caption {
    width: 14em;
}

.frame__header_small_caption {
    width: 9em;
    margin-top: 1em;
}

/* Стили для контента */

.frame__content {
    flex: 1;
    background-color: var(--white);
    padding: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.frame__grid_wrapper {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 1em;
}

@media (min-width: 769px) and (max-width: 1023px) {
    .frame__grid_wrapper {
        width: 90%;
    }
}

@media (min-width: 1024px) {
    .frame__grid_wrapper {
        width: 85%;
    }
}

.frame__card {
    min-height: 12em;
    display: flex;
    flex-direction: column;
}

.frame__card_image {
    width: 100%;
    min-height: 10em;
    background-color: var(--gray);
    border-radius: 3px;
}

.frame__card_caption {
    margin-top: auto;
    height: 1em;
    background-color: var(--gray-dark);
    border-radius: 3px;
}

.frame__card_caption_very_small {
    width: 30%;
}

.frame__card_caption_small {
    width: 40%;
}

.frame__card_caption_medium {
    width: 60%;
}

.frame__card_caption_large {
    width: 80%;
}