/* Стили для содержимого окна псевдобраузера */

.frame__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Стили для верхнего блока псевдобраузера */

.frame__header {
    height: 40%;
    background-color: var(--gray);
    padding: 2em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame__header_big_caption, .frame__header_small_caption {
    background-color: var(--gray-dark);
    height: 1.5em;
    border-radius: 3px;
}

.frame__header_big_caption {
    width: 14em;
}

.frame__header_small_caption {
    width: 9em;
    margin-top: 1em;
}

/* Стили для контента */

.frame__content {
    flex: 1;
    background-color: var(--white);
    padding: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.frame__grid_wrapper {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 1em;
}

@media (min-width: 769px) and (max-width: 1023px) {
    .frame__grid_wrapper {
        width: 90%;
    }
}

@media (min-width: 1024px) {
    .frame__grid_wrapper {
        width: 85%;
    }
}

.frame__card {
    min-height: 12em;
    display: flex;
    flex-direction: column;
}

.frame__card_image {
    width: 100%;
    min-height: 10em;
    background-color: var(--gray);
    border-radius: 3px;
}

.frame__card_caption {
    margin-top: auto;
    height: 1em;
    background-color: var(--gray-dark);
    border-radius: 3px;
}

.frame__card_caption_very_small {
    width: 30%;
}

.frame__card_caption_small {
    width: 40%;
}

.frame__card_caption_medium {
    width: 60%;
}

.frame__card_caption_large {
    width: 80%;
}